body{
    padding: 10% 15%;
    font-family: "Spartan", sans-serif;
    height: 100vh;

}

h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
}

h6{
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    line-height: 2em;
    padding-right: 100px;
}

p{
    line-height: 0.1rem;
}

.attribution {
    margin-top: 2%;
    font-size: 11px;
    text-align: center;

}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.info-column{
    padding-right: 150px;
}

.ratings-column{
    padding: 0% 0;
    margin: 0;
}
.rating-container{
    display:inline-block;
    padding: 3% 5% 3% 5%;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    width: 65%;
    margin-top: 20px;
    color:  hsl(300, 43%, 22%);
}

table.fixed { table-layout:fixed; }


.reviews{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
}

.reviewer-icon{
    border-radius: 100%; width: 4vh; float: left;margin-right: 8%;
}

.user-reviews{
    background-color: hsl(300, 43%, 22%);
    color: white;
    display: inline-block;
    padding: 3% 3%;
    border-radius: 10px;
    font-size: 15px;
    width: 32%;
    height: 90%;

}

@media (min-width: 1024px){
    .rating-container.second{
        margin-left: 5%;
    }

    .rating-container.third{
        margin-left: 10%;
    }

    .user-reviews.second{
        margin-top:2%;
    }

    .user-reviews.third{
        margin-top:4%;
    }
}

@media (max-width: 1024px){
    .reviews{
        display: inline;
        margin-top: 50px;
    }
    
    .user-reviews{
        width: 90%;
        height: 33%;
        padding: 3% 7% 1% 7%;
        margin-top: 50px;
    }
}